/*comments are top down*/


/*background color*/
	body {
	background-color: #1e1e1e; /*gray*/
	margin: 0;
    font-family: 'Arial', sans-serif;
	}
    #content {
        position: relative;
    }
    #content img {
        position: absolute;
        top: 0px;
        right: 0px;
		left: 1px;
 
/*Side navigation menu*/
.container {
    display: flex;
}
   }
	
.side-navigation {
    width: 200px;
    height: 100vh;
    background-color: black;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 1.5em;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
	margin-right: 10px; /* Adds 10 pixels of space to the right of each link */
}

a:hover {
    color: #1DB954; /* Green color */
}

main {
    flex: 1;
    padding: 20px;
}
/* Search Bar */
header {
    background-color: #1e1e1e;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
	
	margin-top: -775px;
	margin-left:auto;
	margin-right:auto;
	width:100px;
	padding-top: 0px;
	padding-right: 900px;
	padding-bottom: 100px;
	padding-left: 0px;
	display: flex;
    align-items: center;
	
}

.search-bar input {
    padding: 5px;
    margin-right: 10px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #1DB954;
    color: white;
    border: none;
    cursor: pointer;
}

